@import url(https://fonts.googleapis.com/css?family=Roboto:300);

body {
  font-family: 'Roboto';
  background-color: #262626;
  color: #f5f5f5;
/*
Are ya yellow?!: #feda6a

Silver Fox: #d4d4dc

Deep Matte Grey: #393f4d

Dark Slate: #1d1e22

Dark Grey: #393939 – Dark designs take a little bit more fore-thought but can provide tons of contrast if used well.

Deep Orange: #FF5A09 – With different shades of oranges, there is depth and gradient, without venturing into totally new colors.

Light Orange: #ec7f37 – Utilizing illustrative elements, requires a bit of flexibility for the natural lightness and darkness to contour objects.

Orange Yellow: #be4f0c – Using on color over on the color wheel can keep the palette looking classy, bold and restrained.

Slate: #262626 – Repeat after me, all grays are not equal

Secondhand Grey: #3f3f3f

Whitish: #f5f5f5 – Repeat after me, all whites are not equal

Light grey: #dcdcdc

*/
}
.btn {
  text-align: center;
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 1px rgba(0, 0, 0, 0.1), inset 0 -10px 20px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.sec:hover {
  background: #f5f5f5;
}

.links{
  font-size: 1.5rem;
  display: flex;
  list-style-type: none;
  flex-wrap: nowrap;
  justify-content: space-evenly;
}

header {
  background-color: #3f3f3f;
  display: flex;
  align-items: center;

}
header ul li{
  padding: 1rem;
}
 #projects li{
   display: block;
   margin: auto;
   padding: 2rem;
   font-size: 1.5rem;
 }
#about{
  text-align: center;

}
